// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Common
//@import "common";
@import 'adminCommon';
// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap -v 4.1.1
//@import "node_modules/bootstrap/scss/bootstrap";
// Bootstrap -v 3.3.7
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";
// FontAwesome
//@import "node_modules/font-awesome/scss/font-awesome";
//select2
@import "node_modules/select2/src/scss/core";

@import 'adminCommon';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent
}

body {
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: '나눔바른고딕',NanumBarunGothic,ng,'맑은 고딕','Malgun Gothic','돋움',Dotum, Arial, sans-serif;
  font-size: 14px;
  //line-height: 1.42857;
  color: #333;
  background-color: #fff
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

a {
  color: #6F8DFF;
  text-decoration: none;
  cursor: pointer
}

a:hover,
a:focus {
  color: #2350ff;
  text-decoration: underline
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

figure {
  margin: 0
}

img {
  vertical-align: middle
}

html {
  position: relative;
  left: 0;
  right: 0;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}

body {
  color: #333;
  background-color: #fff
}

body,
.admin-wrap {
  position: relative;
  left: 0;
  right: 0;
  min-height: 100%;
  //height: 100%;
  margin: 0;
  padding: 0
}

.panel .panel-heading .txt_tit,
.locate ul {
  margin: 0;
  padding: 0
}

.transition {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease
}

.dim {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background: #010101;
  opacity: 0.5;
  cursor: default
}

.logo-area h1,
aside ul,
header .right-menu ul,
aside .list-title,
.title-area h2,
.title-area .tit_bottom ul,
.normal-list,
.item-container {
  margin: 0;
  padding: 0
}

aside ul li a,
.right-menu ul a,
.theme_con .theme_active+table a,
.title-area h2 a,
.logo-area h1 a,
.panel-heading .panel-toggle,
.list-plugin li .btn-right .btn-link,
aside .snb-list>li a {
  text-decoration: none
}

header {
  position: relative;
  height:64px;
  background: #fff;
  box-shadow:0 0px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:0 0px 6px rgba(0, 0, 0, 0.3);
  z-index:10;
}
header .btn-slide {
  height: 100%;
  padding: 0 20px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-width: 0 1px;
  outline: none;
  font-size: 26px;
  color: #9D9DA1;
  cursor: pointer
}

header .btn-site-home {
  height: 100%;
  padding: 0 20px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-width: 0 1px;
  outline: none;
  font-size: 26px;
  color: #9D9DA1;
  color: #3D3D3D;
  display: inline-block;
  margin-left: -3px;
  border-left: none;
  vertical-align: top;
  line-height: 64px
}

header .right-menu {
  height:64px;
  position: absolute;
  right: 0;
  top: 0
}

header .btn-slide i,
header .btn-site-home i {
  -webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
  transition: transform .3s ease-in-out, width .3s ease-in-out
}

header .btn-slide i:hover {
  color: #333;
}
header .btn-site-home i:hover {
  color: #999;
}

header .right-menu {
  padding-right: 16px;
}

header .right-menu .navbar-nav > .dropdown > .nav-link {
  display: table;
  padding: 0 16px;
  font-size: 14px
}

header .right-menu .navbar-nav .dropdown > .nav-link > div {
  height: 64px;
  display: table-cell;
  vertical-align: middle;
}

header .dropdown-toggle-split {
  position: relative
}

header .dropdown-toggle:focus {
  outline: 0
}

header .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box
}

header .dropdown-menu.pull-right {
  right: 0;
  left: auto
}

header .dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5
}

aside {
  position: fixed;
  left: -240px;
  top: 0;
  bottom: 0;
  width: 240px;
  min-height: 100%;
  background-color: #323232;
  z-index: 999;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch
}

aside .list-title {
  padding: 11px 16px 11px 24px;
  color: #696e7a;
  font-size: 12px
}

aside .snb-list li {
  line-height: 0
}

aside .snb-list li a {
  display: block;
  position: relative
}

aside .snb-list li.on a {
  background-color: #6F8DFF;
  color: #fff
}

aside .snb-list>li a {
  overflow: hidden;
  height: 48px;
  padding: 0 54px 0 24px;
  line-height: 48px;
  vertical-align: middle;
  background-color: #2A2A2A;
  font-size: 14px;
  color: #b5b7bd;
  text-overflow: ellipsis;
  white-space: nowrap
}

.logo-area {
  padding-left: 24px;
  background-color: #fff
}

.logo-area img {
  vertical-align: middle;
  margin-right: 5px
}

.logo-area h1 {
  min-width: 216px;
  height: 64px;
  font-size: 20px;
  vertical-align: middle;
  line-height: 64px;
}

.logo-area h1 a {
  color: #2c2e37;
  font-weight: 600
}

aside .sub-depth {
  position: relative
}

aside .sub-depth.open .sub-depth-list>li.on a {
  background-color: #6F8DFF;
  color: #fff
}

aside .snb-list li.off a {
  color: #696e7a
}
aside .snb-list li.sub-depth>.btn-link.toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  border: 0px;
  padding-right: 15px;
  color: #b5b7bd;
  font-size: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  z-index: 5
}

aside .snb-list li.sub-depth>ul>li>.btn-link.toggle {
  width:40px;
  height:40px
}

aside .snb-list li.sub-depth.open>.btn-link.toggle i {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

aside .snb-list li ul.sub-depth-list {
  display: none
}

aside .snb-list li.open>ul.sub-depth-list {
  display: block
}

aside .snb-list li ul.sub-depth-list a {
  height: 40px;
  line-height: 40px
}

aside .snb-list li a .list-label {
  float: right;
  margin-top: 2px;
  font-size: 12px
}

aside .snb-list>li a i {
  margin-right: 16px
}


aside .snb-list>li>ul.sub-depth-list li a {
  padding-left: 54px;
  background-color: #141414
}

aside .snb-list>li>ul.sub-depth-list li ul.sub-depth-list a {
  padding-left: 70px
}

aside .snb-list .sub-depth.open>a {
  color: #fff
}

aside .snb-list a:hover {
  color: #fff;
  background-color: #000
}

aside .snb-list>li>ul.sub-depth-list li a:hover {
  background-color: #000
}


aside .snb-list li a .xo-badge {
  top: 50%;
  right: 16px;
  left: auto;
  margin: -10px 0 0 0
}

aside.open {
  left: 0
}

.sidebar-collapse header .btn-slide {
  margin-left: 0
}

.sidebar-collapse header .btn-slide i {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}

.sidebar-collapse aside {
  left: -240px
}

.sidebar-collapse #content,
.sidebar-collapse .footer {
  margin-left: 0
}

#content {
  position: relative;
  clear: both;
  min-height: 100%;
  margin: -64px 0 -47px 0;
  background-color: #F1F2F6
}

.ct {
  padding: 64px 0 47px
}

.title-area {
  position: relative;
  margin-bottom: 22px;
  background-color: #fff;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3)
}

.title-area .title-content {
  position: relative;
  padding: 24px
}

.title-area .tit_bottom {
  margin: 24px -24px 0;
  padding: 15px 24px 0;
  border-top: 1px solid #e4e4e4
}

.title-area .row:first-child div[class*="col-"] {
  padding-top: 24px;
  padding-bottom: 24px
}

.title-area .row:first-child div[class*="col-"]:before {
  content: " ";
  display: table
}

.title-area .row:first-child div[class*="col-"]:after {
  content: " ";
  display: table;
  clear: both
}

.title-area h2 {
  font-size: 28px;
  line-height: 40px;
  font-weight: normal
}

.title-area h2 a {
  color: #2c2e37
}

.title-area h2 i {
  margin-right: 18px;
  color: #8E8E93
}

.title-area h2+small {
  display: block;
  margin-top: 4px;
  font-size: 14px;
  color: #8e8e93;
  line-height: 22px
}

.title-area .row.locate {
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid #e4e4e4
}

.title-area .locate li {
  display: inline-block;
  color: #8e8e93;
  font-size: 12px
}

.title-area .locate li a {
  display: inline-block;
  padding: 0 5px;
  color: #2c2e37
}

.title-area .locate li .admin-icon {
  color: #8e8e93;
  font-size: 10px
}

div.footer {
  position: relative;
  height: 47px;
  padding: 14px 24px;
  margin-left: 0;
  font-size: 13px;
  color: #8e8e93;
}

div.footer a {
  color: #2c8beb
}

@media (min-width: 1068px) {
  header .btn-slide {
    margin-left: 240px
  }

  aside {
    position: absolute;
    left: 0
  }

  #content {
    margin-left: 240px
  }

  div.footer {
    margin-left: 240px
  }

  .sidebar-collapse .dim {
    display: none
  }
}